# Environment Service — copy ke .env dan isi nilainya
DB_HOST=mysql
DB_PORT=3306
DB_NAME=smartcity
DB_USER=env_user
DB_PASSWORD=env_secret

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

APP_ENV=production
APP_DEBUG=false
