
# CI4 APP

CI_ENVIRONMENT=development
app.baseURL=http://localhost:8080/
app.indexPage=
app.sessionDriver=CodeIgniter\Session\Handlers\FileHandler


# DATABASE
database.default.hostname=localhost
database.default.database=smartcity
database.default.username=root
database.default.password=
database.default.DBDriver=MySQLi
database.default.DBPrefix=
database.default.port=3306

# JWT
JWT_ACCESS_SECRET=your_jwt_access_secret_here

# RABBITMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=city.events